* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  font-size: 1rem;
  --color-dark: #111;
  --color-light: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-dark: white;
    --color-light: #111;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto Condensed", sans-serif;
}

.fixed-width {
  font-family: "Roboto Mono", "Courier";
}

body {
  padding: 4rem 2rem;
  width: 100%;
  min-height: 100vh;
  background: var(--color-light);
  color: var(--color-dark);
}

header,
main {
  margin: auto;
  right: 0;
  left: 0;
  max-width: 960px;
}

main {
  padding-inline: 32px;
}

a {
  color: var(--color-dark);
}
