* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  font-size: 1rem;
  --color-text: hsl(0, 0%, 15%);
  --color-background: hsl(210, 9%, 99%);
  --fixed-width-font: "Roboto Mono", "Courier";
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: hsl(210, 9%, 95%);
    --color-background: hsl(0, 0%, 5%);
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto Condensed", sans-serif;
  margin-top: 0.8em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: clamp(1.2rem, 3vw + 1rem, 2rem);
}

h3 {
  font-size: clamp(1.1rem, 2vw + 1rem, 1.6rem);
}

body {
  padding: 1rem;
  width: 100%;
  min-height: 100vh;
  background: var(--color-background);
  color: var(--color-text);
}

@media (min-width: 600px) {
  body {
    padding: 2rem;
  }
}

main,
header {
  margin: auto;
  right: 0;
  left: 0;
}

header {
  max-width: 960px;
}

main {
  max-width: 860px;
  padding: 0 16px;
}

a {
  color: var(--color-text);
}

li {
  list-style: none;
}
