---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h2>Contact</h2>
  <p>Contact Maria Due at <a href="mailto:mardue@gmail.com">mardue@gmail.com</a></p>
  <img src="/assets/maria-due-cabo-de-gata-2018.jpeg" alt="Maria Due in Cabo de Gata 2018">
</BaseLayout>

<style>
  p {
    margin-bottom: 1rem;
  }
  img {
    max-width: min(100%, 480px);
  }
</style>
