---
import BaseLayout from "../layouts/BaseLayout.astro";
import image from "../images/maria-due-cabo-de-gata-2018.jpeg";
import { Picture } from "astro:assets";
---

<BaseLayout>
  <h2>New EP</h2>
  <p>
    The new EP Gravul will be released on October 11th 2025. Release concert at <a
      href="https://kampenbistro.ticketco.events/no/nb/e/maria_due__epslippfest_paa_kampen_bistro"
      rel="noreferrer"
      target="_blank">Kampen Bistro, Oct 18th.</a
    >. Also see the <a href="/press/">press release</a> (in Norwegian).
  </p>
  <h2>Contact</h2>
  <p>
    Contact Maria Due at <a href="mailto:mardue@gmail.com">mardue@gmail.com</a>
  </p>
  <Picture
    src={image}
    alt="Maria Due in Cabo de Gata 2018"
    width="960"
    fetchpriority="high"
    loading="eager"
    formats={["avif", "webp"]}
  />

  <style>
    p {
      margin-bottom: 1rem;
    }
    img {
      max-width: min(100%, 480px);
      height: fit-content;
    }
  </style>
</BaseLayout>
