---
import { Picture } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";

const imageFileNames = [
  "DSCF5729",
  "DSCF5730",
  "DSCF5752",
  "DSCF5587",
  "DSCF5626",
  "DSCF5639",
  "DSCF5751",
];

const images: { img: any; src: string; portrait: boolean }[] = [];
for (const filename of imageFileNames) {
  const image = (await import(`../../public/images/${filename}.JPG`)).default;
  images.push({
    img: image,
    src: "/images/" + filename + ".JPG",
    portrait: image.height > image.width,
  });
}
---

<BaseLayout title="Maria Due - Ny EP Gravul">
  <section lang="nb">
    <h1>[Utkast] Presseskriv for EP Gravul (2025)</h1>
    <hr />
    <h2>Gråtekone i asfaltdjungelen</h2>
    <p>Maria Due er veldig bra</p>
    <hr />
    <h2>Bilder</h2>
    <p>Fotograf: Simon Mitternacht</p>
    <div class="images">
      {
        images.map((image, i) => (
          <a
            href={image.src}
            download
            class:list={[image.portrait ? "portrait" : undefined]}
            type="image/jpeg"
          >
            <Picture
              src={image.img}
              formats={["avif", "webp"]}
              alt="Maria Due i skjærgårdslandskap"
              width={image.portrait ? 400 : 600}
            />
            <i aria-hidden="true">&#xf019;</i>
            <span>Bilde {i + 1} original</span>
          </a>
        ))
      }
    </div>
  </section>
</BaseLayout>

<style>
  p {
    margin-bottom: 1rem;
  }

  .images {
    display: flex;
    justify-content: center;
    gap: var(--large-gap);
    flex-wrap: wrap;
    align-items: center;
  }

  a {
    display: block;
    flex-basis: min(500px, 100%);
    position: relative;

    text-decoration: none;
    span {
      text-decoration: underline;
    }
  }

  .portrait {
    flex-basis: max(300px, calc(50% - var(--large-gap)));
  }

  img {
    display: block;
    max-width: 100%;
    height: fit-content;
  }

  i {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-style: normal;
  }
</style>
