---
import { Video } from "../types";
import VideoComponent from "./VideoComponent.astro";

interface Props {
  videos: Video[];
  origin: string;
}
  const { videos, origin } = Astro.props;
---

<h2>Videos</h2>
<div class="wrapper">
  {videos.map(video =>
    <VideoComponent {video} {origin} showLink={true} />
  )}
</div>

<style>
  .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 32px;
  }
</style>
