---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Album from "../../components/Album.svelte";
import { getAllAlbums, getAlbumBySlug, pathToSlug } from "../../utils/data";
import type { BreadCrumb } from "../../types";

const slug = Astro.params.slug as string;

export async function getStaticPaths() {
  const albums = await getAllAlbums(Astro.site.origin);
  return albums.map((album) => ({
    params: { slug: pathToSlug(album.path) },
  }));
}
const album = await getAlbumBySlug(slug, Astro.site.origin);
const breadCrumb: BreadCrumb = [{ path: "/", title: "Albums" }, album];
---

<BaseLayout
  title={"Maria Due - " + album.title + " (album)"}
  {breadCrumb}
  ogImage={album.cover.asset.url}
  property="album"
  typeOf="MusicAlbum"
  property="album"
  resource={album.resourceURI}
>
  <div property="mainEntity"></div>
  <Album {album} />
</BaseLayout>
